header {
    background-color:hotpink;
    text-align: center;
    margin: 20px;
    padding: 20px;
}

h1 {
    color:rgb(165, 15, 45);
}

nav {
    background-color: rgb(184, 36, 110);
    text-align: center;
    margin: 20px;
    padding: 20px;

}

nav a {
    color: rgb(255, 255, 255);
    padding: 50px;
    font-size: 20px;
}

p {
    font-size: 18px;
}

main {
    background-color:rgb(255, 194, 237);
    margin: 20px;
    padding: 10px;
}