.header {
    padding: 30px;
    text-align: center;
    background: white;
}

.header h1 {
    font-size: 50px;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float:left;
    color: #f2f2f2;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.sellcard {
    float: left;
    width: 23.40%;
    margin: 10px;
}

.sellcard img {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.descricao {
    text-align: center;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #333;
    line-height: 1.6;
}

.valor {
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

.compra {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.compra:hover {
    color:black;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial;
    padding: 10px;
    background-color: #f1f1f1;
}

@media screen and (max-width: 800px) {
    .topnav a {
        float: none;
        width: 100%; }
    .sellcard {
        width: 100%;
    }
}

.inicio {
    display: flex;
    gap: 16px;
}

.textoInicio {
    border: 3px solid #cccccc;
    margin: 90px;
    margin-left: 30px;
    padding: 20px;
    font-size: 25px;
    border-radius:10px;
}

.imgInicio {
    width: 30%;
}

.nomeLoja img {
    width: 2%;
    padding-right: 5px;
}

.itens_adicionados {
    background-color: #ffffff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.categoriasHome{
    display: flex;
    gap: 10px;
}

.cardCategoria {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 30px;
    padding-left: 30px;
    margin: 10px;
    width: 400px;
}

.cardCategoria a {
    font-size: 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color:#333;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.cardCategoria p {
    color:#616060;
}
footer {
    background-color:#dadada;
    padding: 10px;
}